/* App.css */

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 50px; /* Adjust this value as needed */
}
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 10px; /* Space between the buttons */
  margin-bottom: 20px; /* Adjust as needed */
  padding-left: 500px; /* Adjust this value as needed */
}

button {
  display: inline-block;
  width: 200px;
  padding: 10px 20px;
  margin: 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff0000; /* Red color for buttons */
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Remove individual margin-right */
}

button:hover {
  background-color: #cc0000; /* Darker red on hover */
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


p {
  text-align: center;
  color: #000; /* Set paragraph color to black */
  font-size: 16px;
  margin-top: 20px;
}

img {
  display: block;
  margin: 0 auto;
  width: 150px; /* Adjust width as needed */
  height: auto;
}
